<header id="content-header">
  <h1>Song List for <%= link_to(@event.city, @event) %></h1>
</header>

<ul id="songs">
  <% @songs.each do |song| %>
    <li>
      <span class="song"><%= song.title %></span>
    </li>
  <% end %>
</ul>